# Map()

In [1]:
l = [1,2,3,4,5,6,7]
#prining the square of the elements 
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
def square():
    for i in l:
        print(i**2)

In [4]:
square()

1
4
9
16
25
36
49

In [7]:
map(lambda x: x**2, l) #map gives the objects always

In [ ]:
list(map(lambda x: x**2, l)) #returns the values

[1, 4, 9, 16, 25, 36, 49]

In [9]:
#print even or odd in the given list 
map(lambda x: 'even' if x%2 == 0 else 'odd', l)

In [11]:
list(map(lambda x: 'even' if x%2 == 0 else 'odd', l))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [13]:
users = [
    {'Name': 'Yashwanth',
     'College': 'NCI',
     'Place': 'Dublin'},
     {'Name': 'Bhumi',
     'College': 'BIT',
     'Place': 'Bangalore'},
     {'Name': 'Others',
     'College': 'Unknown',
     'Place': 'India'}
]

In [15]:
list(map(lambda users: users['Name'], users))

['Yashwanth', 'Bhumi', 'Others']

In [16]:
list(map(lambda users: users['College'], users))

['NCI', 'BIT', 'Unknown']

In [17]:
list(map(lambda users: users['Place'], users))

['Dublin', 'Bangalore', 'India']

# Filter()

In [19]:
print(l) # number greater than 3

[1, 2, 3, 4, 5, 6, 7]

In [21]:
list(filter(lambda x:x>3,l))

[4, 5, 6, 7]

In [22]:
name = ['yashwanth', 'bhumi', 'others']

In [23]:
list(filter(lambda name: name.startswith('b'), name))

['bhumi']

# Reduce()

In [24]:
import functools

In [25]:
functools.reduce(lambda x,y: x+y, l)

28

In [26]:
functools.reduce(lambda x,y: x*y, l)

5040

In [27]:
functools.reduce(lambda x,y: x-y, l)

-26

In [38]:
#find the min and max values 
a = functools.reduce(lambda x,y: x if x<y else y, l)
b = functools.reduce(lambda x,y: x if x>y else y, l)

print(a)
print(b)

1
7